* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

h1.btxt {
  font-size: 60px;
  font-family: monospace;
  padding-top: 200px;
  color: #4dcf9d;
  text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
}
h3.stxt {
  font-size: 25px;
  font-family: monospace;
  color: #4dcf9d;
  text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
}

.bgabout {
    height: 720px;
    background-image: url('https://img.freepik.com/free-photo/interior-shot-cafe-with-chairs-near-bar-with-wooden-tables_181624-1669.jpg?w=996&t=st=1705942453~exp=1705943053~hmac=c21d4dcc245047c38beb2e37b4d96b7a28ff064b3afe6b0f0f1c4018fcc0e757'); 
    background-position: center;
    background-size: cover;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
  }

