* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
html, body, div{
    margin: 0;
    min-width: 100%;
}

.footer {
    background-color: rgb(133, 19, 85);
    background-size: auto;
    padding: 7px;
    float: bottom;
    left: 0;
    margin: 0;
}

.footer {
    float: middle;
    color: rgb(215, 215, 215);
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    
}

h5{
    font-size: 20px;
    font-family: monospace;
}