* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}


html, body, div{
  margin: 0;
  min-width: 100%;
}

.logo{
  height: 200px;
  display: flex;
  position: absolute;
  top: 20%;
  left: 25%;
  border-radius: 70%;
}
.logo2{
  height: 200px;
  display: flex;
  position: absolute;
  top: 60%;
  left: 26%;
  border-radius: 70%;
}
.coffeeshop{
  padding-left: 110px;
  padding-top: 120px;
  text-shadow: -1px -1px 0 #333333, 1px -1px 0 #333333, -1px 1px 0 #333333, 1px 1px 0 #333333;  
  color: #4dcf9d;
  font-size: 50px;
  font-family:monospace

}

.igtext{
  
  padding-left: 110px;
  padding-top: 1px;
  text-shadow: -1px -1px 0 #333333, 1px -1px 0 #333333, -1px 1px 0 #333333, 1px 1px 0 #333333;  
  color: #4dcf9d;
  font-size: 50px;
  font-family:monospace
}


